body {
	text-align: center;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
}
h1 {
font-weight: 400;
font-size: 45px;
color: #0D2c40;
letter-spacing: 1px;
}
.instructions, .game {
	color: #f15b31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none; 
}
h2 {
	color: #0D2c40;
	font-weight: 600;
	font-size: 20px;

}
p {
font-family: "Droid Serif", serif;
font-size: 18px;
line-height: 26px;
text-transform: capitalize;
}
